.listCard {
  padding: 10px;
  min-width: 20vw;
  height: 20vw;
  overflow-y: auto;
}

li {
  list-style-type: none;
  border: 2px solid #418dbd;
  padding: 5px;
  border-radius: 10px;
  background-color: blanchedalmond;
  margin: 5px;
  max-height: 3vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}

li:hover {
  color: rgb(181, 124, 219);
}
